@import "tailwindcss";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

body {
  background: var(--main-bg);
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-gutter: stable;
}

.roundhand {
  font-family: var(--font-roundhand);
}

.inter {
  font-family: var(--font-inter);
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  transform: translate3d(0, 0, 0);
}

:root {
  --accent: #769C40;
  --accent-2: #2C2C2C;
  --section-bg: #FFFFFF;
  --primary-text: #000000;
  --section-border: #E5E5E5;
  --main-bg: #F8F8F8;
  --secondary-text: #454545;
}

.gradient-overlay {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.layer-blur {
  filter: blur(1px);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@layer utilities {
  .animate-fadeIn-75 {
    animation: fadeIn-75 0.4s ease-in-out forwards;
  }

  @keyframes fadeIn-75 {
    0% {
      opacity: 0.75;
    }

    100% {
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.4s ease-in-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes underlineGrow {
    0% {
      transform: "scaleX(0)";
    }

    100% {
      transform: "scaleX(1)";
    }
  }

  .animate-underlineGrow {
    animation: underlineGrow 0.3s ease-in-out forwards;
  }
}

@media (width >= 768px) {
  .gradient-signature {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.15) 25%,
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.3) 65%,
      rgba(0, 0, 0, 0.2) 80%,
      transparent 100%
    );
  }
}
@media (width < 768px) {
.gradient-signature {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.15) 30%,
    rgba(0, 0, 0, 0.3) 38%,
    rgba(0, 0, 0, 0.15) 50%,
    rgba(0, 0, 0, 0.35) 60%,
    rgba(0, 0, 0, 0.35) 85%,
    rgba(0, 0, 0, 0.2) 100%
  );
}
}
.gradient-no-signature {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.15) 30%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.3) 55%,
    transparent 100%
  );
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
